

fastapi



keras

lockfil

matplotlib
matplotlib-inline


notebook

numpy==1.23.5

pandas
pandas-datareader

passlib

Pillow
pipenv

poetry
poetry-core
poetry-plugin-export
pydot
pytest

scikit-learn
scikit-surprise
scipy==1.10.1

seaborn==0.12.2

tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem

to-requirements.txt
tomlkit

urllib3
uvicorn
virtualenv
virtualenv-clone


websocket-client
websockets



