/* CSS-БЛОКИ */

#block1 {
	position: absolute;
	margin-top: 10px;
	background-color: #87CEEB;
	padding: 0.1% 0.1% 0.1% 0.1%;
	margin-left: 0.5%;
}
#block2 {
	position: relative;
	top: 140px;
	background-color: #87CEEB;
	padding: 0.5% 0.5%;
	margin-left: 50px;
	margin-right: 50px;
}
#block3 {
	position: relative;
	top: 160px;
	background-color: #87CEEB;
	padding: 0.1% 0.1% 0.1% 0.1%;
	text-align: center;
	display: inline-block;
	margin-left: 30%;
}
#block4 {
	position: relative;
	top: 160px;
	background-color: #87CEEB;
	padding: 0.1% 0.1% 0.1% 0.1%;
	text-align: center;	
	display: inline-block;
	margin-left: 1px;
}
#block5 {
	position: relative;
	top: 160px;
	background-color: #87CEEB;
	padding: 0.1% 0.1% 0.1% 0.1%;
	text-align: center;	
	display: inline-block;
	margin-left: 1px;
}
#block6 {
	position: relative;
	top: 180px;
	background-color: #87CEEB;
	padding: 0.1% 10% 0.1% 10%;
	margin-left: 170px;
	margin-right: 170px;
}

.pos2 {
	width: 200px;
	height: 260px; 
	align: middle;
}


/* CSS-РЯДКИ */

h1 {
	font-family: "League Gothic";
	font-size: 300%;
	color: #FFFF00;
	text-align: center;
	font-style: italic;
	text-transform: uppercase;
	white-space: nowrap;
	line-height: 1%;
	/* Параметри тіні */
	text-shadow: 10px 10px 20px black, 0 0 1em #000066;
	}
	
	h2 {
	font-family: font-family: sans-serif;
	font-size: 220%;
	color: blue;
	text-align: center;
	text-transform: uppercase;
	}
	
	h3 {
	font-family: "Arial";
	font-size: 150%;
	color: red;
	text-align: center;
	text-transform: uppercase;
	}


/* CSS-МАЛЮНКИ */

/* Велике фото */
img.large {width: 500px; height: 500px;}

/* Середнє фото */
img.medium {width: 245px; height: 245px;}

/* Маленьке фото */
img.small {width: 100px; height: 100px;}	


/* CSS-ТЕКСТ */

/* Колір фону сторінки */
body {
	background: #87CEEB;
}

/* Шрифт */
p { 
	font-family: Arial , Helvetica, sans-serif; "Times New Roman";
	font-size: 200%;
	
/* Відступ абзацу  */
	text-indent: 5%;
}



